
<html>

<head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
Messages by {{name}}
<br>
<br>
<form action="/create-message"  method="post">
    <input type="text" autofocus name="message" placeholder="Type your message"/>
    <button type="submit">Submit</button>
</form>
<br>
<form action="/delete-message" method="post">
    <input type="number" name="id" placeholder="#"/>
    <button type="submit">Delete Message</button>
</form>
<form action="/edit-message" method="post">
    <input type="number" name="id" placeholder="#"/>
    <input type="text" name="newMessage" placeholder="Edit your message"/>
    <button type="submit">Edit Message</button>
</form>
<br>
<p>
    Messages:
</p>
<form>
<ol>
    {{#messages}}
<li>
    {{message}}
    <form action="/delete-message" method="post" style="display: inline-block;">
        <input type="hidden" name="id" value="{{id}}"/>
        <button type="submit">Delete Message</button>
    </form>
    <br>
</li>
    {{/messages}}
</ol>
</form>
<br>
<br>
<form action="logout" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>
